<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="menu icon fa fa-home"></i>
            <a ui-sref="principal">Inicio</a>
        </li>
        <li class="active"><font color="#0B0B3B">{{title}}</font></li>
    </ul><!-- /.breadcrumb -->    
</div>
<div class="page-header">
    <h1>
        Gestión de Despachos        
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <label>A continuación puede gestionar la información correspondiente a la asignación de grupos a rutas, vehiculos a grupos y despachos.</label>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li ng-class="{'active' : activeTab === 1}"><a href="" ng-click="setActiveTab(1)">
                        <i class="blue fa fa-users bigger-120"></i>
                        Grupos
                    </a>
                </li>
                <li ng-class="{'active' : activeTab === 2}"><a href="" ng-click="setActiveTab(2)">
                        <i class="blue fa fa-automobile bigger-120"></i>
                        Vehículos
                    </a>
                </li> 
                <li ng-class="{'active' : activeTab === 3}"><a href="" ng-click="setActiveTab(3)">
                        <i class="blue fa fa-users bigger-120"></i>
                        Conductores
                    </a>
                </li>
                <li ng-class="{'active' : activeTab === 4}"><a href="" ng-click="setActiveTab(4)">
                        <i class="blue fa fa-clock-o bigger-120"></i>
                        Despachos
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!--                Pestaña de grupos a rutas-->
                <div ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}">
                    <div class="container-fluid">
                        <h3>
                            Asignación de grupos a rutas
                        </h3>
                        <br>
                        <div class="row">
                            <label class="control-label border blue">Seleccione el área de asignación</label>
                            <div>
                                <div>                                   
                                    <select class="form-control" ng-model="areaselect.id" ng-change="onChangeSelectedArea()">                                        
                                        <option value="" selected disabled>Seleccionar</option>
                                        <option ng-repeat="ar in areas" value="{{ar.id}}">{{ar.name}}</option>
                                    </select>
                                </div>                        
                            </div>
                        </div> 
                        <br>
                        <div class="row">
                            <table class="table table-bordered table-hover table-responsive table-striped">
                                <thead>
                                    <tr>                                
                                        <th>Lista de Grupos Registrados</th>
                                        <th>Listado de rutas registradas</th>
                                        <th>Desde</th>
                                        <th>Hasta</th>
                                        <th>Acción</th>                                  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control" ng-model="gruporuta.grupo" ng-change="gruposelect = true">                                        
                                                <option value="" selected disabled>Seleccionar</option>
                                                <option ng-repeat="grupo in grupos" value="{{grupo.group_id}}" ng-selected>{{grupo.group_name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="gruporuta.ruta" ng-options="ruta.route_name for ruta in rutas track by ruta.route_name" ng-change="rutaselect = true">                                           
                                                <option value="" selected disabled>Seleccionar</option>                                                
                                            </select>
                                        </td>
                                        <td>
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="gruporuta.fechaini" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-blue btn-primary" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>                                    
                                        </td>
                                        <td>
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="gruporuta.fechafin" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-blue btn-primary" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </td>
                                        <td align="center">
                                            <button type="button" class="btn btn-primary" ng-click="asignarGrupos()" ng-disabled="bntdisabled">Asignar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <table class="table table-bordered table-hover table-responsive table-striped">
                                <thead>
                                    <tr>                                
                                        <th>Grupo</th>
                                        <th>Área</th>
                                        <th>Ruta</th>
                                        <th>Desde</th>
                                        <th>Hasta</th> 
                                        <th>Accion</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="!resultsfound">
                                        <td colspan="6" align="center">
                                            <font color="red"><b>No hay resultados disponibles</b></font>
                                        </td>                                
                                    </tr>
                                    <tr ng-if="resultsfound" ng-repeat="gr in gruposrutas">
                                        <td>
                                            {{gr.group_name}}  
                                        </td>
                                        <td>
                                            {{gr.area_name}}  
                                        </td>
                                        <td>
                                            {{gr.route_name}} 
                                        </td>
                                        <td>
                                            {{gr.fechaini}}  
                                        </td>
                                        <td>
                                            {{gr.fechafin}} 
                                        </td> 
                                        <td align="center">
                                            <div class="btn-group">
                                                <button class="btn btn-white btn-sm btn-info btn-bold" title="Editar" data-toggle="modal" ng-click="seleccionarItem(gr.gr_id, gr.group_name, gr.fechaini, gr.fechafin, gr.area_id, gr.area_name)" data-target="#editarGrupoRuta" >
                                                    <i class="ace-icon fa fa-edit"></i>
                                                </button> 
                                                <button class="btn btn-white btn-sm btn-warning btn-bold" title="Eliminar" ng-click="onconfirmdeletegr(gr.gr_id)">
                                                    <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                                                </button>  
                                            </div>
                                        </td> 
                                    </tr>
                                    <tr ng-if="paginationtab1">                                    
                                        <td colspan="6" align="center">
                                            <div class="btn-group">
                                                <button id="btnant" class="btn btn-white btn-sm btn-info btn-bold" title="Anterior" ng-click="paginationtab1ant()">
                                                    <i class="ace-icon fa fa-arrow-left"></i>
                                                </button>                                            
                                                <button id="btnsig" class="btn btn-white btn-sm btn-warning btn-bold" title="Siguiente" ng-click="paginationtab1sig()">
                                                    <i class="ace-icon fa fa-arrow-right bigger-120 orange"></i>
                                                </button>  
                                            </div>
                                        </td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
                <!--                Pestaña de vehiculos a grupos-->
                <div ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}">
                    <div class="container-fluid">
                        <h3>
                            Asignación de vehículos a grupos
                        </h3>
                        <table class="table  table-bordered table-hover table-responsive table-striped">
                            <thead>
                                <tr>                                
                                    <th>Lista de Vehículos Registrados</th>
                                    <th>Listado de Grupos registradas</th>                                
                                    <th>Acción</th>                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>                                
                                    <td>
                                        <select class="form-control" ng-model="asignacion.vehiculo" ng-change="onChangeVehiculos = true">                                           
                                            <option value="" selected disabled>Seleccionar</option>
                                            <option ng-repeat="vehiculo in vehiculos" value="{{vehiculo.vehiculo_id}}" >{{vehiculo.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="asignacion.grupo" ng-change="onChangeGrupos = true" ng-options="grupo.group_name for grupo in grupos| orderBy:'group_name'">                                        
                                            <option value="" selected disabled>Seleccionar</option>
                                            <option ng-repeat="grupo in grupos" value="{{grupo.group_id}}" ng-selected>{{grupo.group_name}}</option>
                                        </select>
                                    </td>                                
                                    <td align="center">
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="asignarVehiculos()">Asignar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover table-responsive table-striped">
                            <thead>
                                <tr>                                
                                    <th>#. Vehículo</th>
                                    <th>Conductor</th>                                    
                                    <th>Placa</th>
                                    <th>Grupo</th> 
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!resultsfound1">
                                    <td colspan="5" align="center">
                                        <font color="red"><b>No hay resultados disponibles</b></font>
                                    </td>                                
                                </tr> 
                                <tr> 
                                    <td>
                                        <input id="numvehiculo" type="text" ng-model="filtros.vehiculo" type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input id="conductor" type="text" ng-model="filtros.conductor" type="text" class="form-control" >
                                    </td>                                    
                                    <td>
                                        <input id="placa" type="text" ng-model="filtros.placa" type="text" class="form-control" >
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="filtros.grupo">                                        
                                            <option value="" selected disabled>Seleccionar</option>
                                            <option ng-repeat="grupo in grupos" value="{{grupo.group_id}}" ng-selected>{{grupo.group_name}}</option>
                                        </select>
                                    </td> 
                                    <td  align="center">
                                        <button class="btn btn-white btn-sm btn-warning btn-bold" title="Filtrar" ng-click="filtrar()">
                                            <i class="ace-icon fa fa-search orange"></i>
                                        </button> 
                                        <button class="btn btn-white btn-sm btn-success btn-bold" title="Limpiar Filtro" ng-click="limpiarFiltros()">
                                            <i class="ace-icon fa fa-eraser blue"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="resultsfound1" ng-repeat="as in asignaciones">
                                    <td>
                                        {{as.name}}  
                                    </td>
                                    <td>
                                        {{ as.driver_name}} 
                                    </td>                                    
                                    <td>
                                        {{as.plate_number}}
                                    </td>
                                    <td>
                                        {{as.group_name}}  
                                    </td> 
                                    <td align="center">
                                        <div class="btn-group">
                                            <button class="btn btn-white btn-sm btn-info btn-bold" title="Editar" data-toggle="modal" ng-click="seleccionarItem2(as.object_id, as.vin, as.group_name, as.driver_name, as.imei, as.driver_phone, as.driver_address)" data-target="#editarVehiculo" >
                                                <i class="ace-icon fa fa-edit"></i>
                                            </button> 
                                            <button class="btn btn-white btn-sm btn-warning btn-bold" title="Eliminar Asignación" ng-click="onconfirmdeletevh(as.object_id)">
                                                <i class="ace-icon fa fa-chain-broken orange"></i>
                                            </button>  
                                        </div> 
                                    </td>
                                </tr>
                                <tr ng-if="paginationtab2">                                    
                                    <td colspan="6" align="center">
                                        <div class="btn-group">
                                            <button id="btnant" class="btn btn-white btn-sm btn-info btn-bold" title="Anterior" ng-click="paginationtab2ant()">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                            </button>                                            
                                            <button id="btnsig" class="btn btn-white btn-sm btn-warning btn-bold" title="Siguiente" ng-click="paginationtab2sig()">
                                                <i class="ace-icon fa fa-arrow-right bigger-120 orange"></i>
                                            </button>  
                                        </div>
                                    </td>                                
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </div> 
                <!--                Pestaña de conductores a vehiculos-->
                <div ng-class="{'tab-pane active': activeTab === 3, 'tab-pane' : activeTab !== 3}">
                    <div class="container-fluid">
                        <h3>
                            Asignación de conductores a vehículos
                        </h3>
                        <br>                       
                        <div class="row">
                            <table class="table table-bordered table-hover table-responsive table-striped">
                                <thead>
                                    <tr> 
                                        <th>Vehiculos</th>
                                        <th>Conductores</th>                                                                               
                                        <th>Acción</th>                                  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control" ng-model="vehiculo.select" ng-options="vh.name for vh in vehiculos track by vh.name" ng-change="selectGrupos = true" >                                           
                                                <option value="" selected disabled>Seleccionar</option>                                                
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="vehiculo.conductor" ng-change="seleccionaVehiculos = true" >                                        
                                                <option value="" selected disabled>Seleccionar</option>
                                                <option ng-repeat="conductor in conductores" value="{{conductor.driver_id}}" ng-selected>{{conductor.driver_name}}</option>
                                            </select>
                                        </td>                                        
                                        <td align="center">
                                            <button type="button" class="btn btn-sm btn-primary" ng-click="asignarConductor()">Asignar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">                            
                            <table class="table table-bordered table-hover table-responsive table-striped">
                                <thead>                                    
                                    <tr> 
                                        <th>Vehículo</th>
                                        <th>Placa</th>
                                        <th>Conductor</th>
                                        <th>Dirección</th>
                                        <th>Telefono</th>                                         
                                        <th>Acciones</th>                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="!resultsfound3">
                                        <td colspan="6" align="center">
                                            <font color="red"><b>No hay resultados disponibles</b></font>
                                        </td>                                
                                    </tr>                                    
                                    <tr ng-if="resultsfound3" ng-repeat="c in asignacionconductores">
                                        <td>
                                            {{c.name}} 
                                        </td>  
                                        <td>
                                            {{c.plate_number}} 
                                        </td>
                                        <td>
                                            {{c.driver_name}}  
                                        </td>
                                        <td>
                                            {{c.driver_address}}  
                                        </td>
                                        <td>
                                            {{c.driver_phone}}  
                                        </td>                                        
                                        <td align="center">
                                            <div class="btn-group">
                                                <button class="btn btn-white btn-sm btn-info btn-bold" title="Editar" data-toggle="modal" ng-click="seleccionarItem3(c.driver_id, c.driver_name, c.driver_phone, c.driver_address)" data-target="#editarAsignacionConductor" >
                                                    <i class="ace-icon fa fa-edit"></i>
                                                </button> 
                                                <button class="btn btn-white btn-sm btn-warning btn-bold" title="Eliminar" ng-click="onconfirmdeleteasignacion(c.object_id)">
                                                    <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                                                </button>  
                                            </div>
                                        </td> 
                                    </tr> 
                                    <!-- Fila para la paginacion-->                                    
                                    <tr ng-if="paginationtab3">
                                        <td colspan="6" align="center">
                                            <div class="btn-group">
                                                <button id="btnant" class="btn btn-white btn-sm btn-info btn-bold" title="Anterior" ng-click="paginationtab3ant()">
                                                    <i class="ace-icon fa fa-arrow-left"></i>
                                                </button> 
                                                <button id="btnsig" class="btn btn-white btn-sm btn-warning btn-bold" title="Siguiente" ng-click="paginationtab3sig()">
                                                    <i class="ace-icon fa fa-arrow-right bigger-120 orange"></i>
                                                </button>  
                                            </div>
                                        </td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
                <!--                Pestaña de Despachos-->
                <div ng-class="{'tab-pane active': activeTab === 4, 'tab-pane' : activeTab !== 4}">
                    <div class="container-fluid">                        
                        <div class="tabbable">
                            <ul class="nav nav-tabs">                                
                                <li ng-class="{'active' : activeTab2 === 5}"><a href="" ng-click="setActiveTab2(5)">
                                        <i class="blue fa fa-clock-o bigger-120"></i>
                                        Asignar Puntos de Control a Ruta
                                    </a>
                                </li> 
                                <li ng-class="{'active' : activeTab2 === 6}"><a href="" ng-click="setActiveTab2(6)">
                                        <i class="blue fa fa-road bigger-120"></i>
                                        Asignación de tiempos a rutas
                                    </a>
                                </li>                                
                            </ul>
                            <div class="tab-content">                                                             
                                <!-- Panel de asignacion de puntos de control a rutas-->
                                <div ng-class="{'tab-pane active': activeTab2 === 5, 'tab-pane' : activeTab2 !== 5}">                                    
                                    <div class="container-fluid">
                                        <div class="row">
                                            <label>Panel de asignación de puntos de control a rutas</label><br>                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <label class="control-label border blue">Seleccione el área de asignación</label>
                                            </div>  
                                            <div class="col-xs-12 col-sm-6">
                                                <label class="control-label border blue">Seleccione la ruta.</label>
                                            </div>                                             
                                        </div>
                                        <div class="row"> 
                                            <div class="col-xs-12 col-sm-6">
                                                <select id="selectareadespachos" class="form-control" ng-model="areaselect.id" ng-change="cargarRutas()">                                        
                                                    <option value="" selected disabled>Seleccionar</option>
                                                    <option ng-repeat="ar in areas" value="{{ar.id}}">{{ar.name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <select id="selectrutasdespachos" class="form-control" ng-model="rutaselect" ng-options="ruta.route_name for ruta in rutas track by ruta.route_name" ng-change="onChangeareaPC()">                                        
                                                    <option value="" selected disabled>Seleccionar</option>
                                                </select>
                                            </div>
                                        </div><br></div><br>
                                    <div class="row">
                                        <div class="row col-xs-12 col-sm-12" align="right">
                                            <div class="col-xs-12">
                                                <div class="btn-group">
                                                    <button class="btn btn-default btn-sm" onclick="desbloquear()" ng-click="limpiarCamposDespachos()" >
                                                        <i class="ace-icon fa fa-eraser bigger-110"></i>Limpiar
                                                    </button>
                                                    <button class="btn btn-white btn-sm btn-info btn-bold" title="Ver" ng-click="verPtosControles()">
                                                        <i class="ace-icon fa fa-search"></i> Guardar
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12" align="center">
                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <h4>Selección de Puntos de Control </h4>
                                                </div> 
                                                <div class="widget-body">
                                                    <div class="col-xs-12 col-sm-6" align="center">
                                                        <div class="input-group">
                                                            <select class="form-control" ng-model="ptocontrolselect" ng-options="pto.zone_name for pto in puntoscontrol track by pto.zone_name" onchange="bloquearSelects()">
                                                                <option value="" disabled selected>Seleccione una opción</option>
                                                            </select>
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-primary" type="button" ng-click="guardarPtoControlRuta()">
                                                                    <i class="ace-icon fa fa-arrow-right bigger-110"></i>                                                       
                                                                </button>                                                                
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6" align="center">
                                                        <div class="widget-container">
                                                            <div class="dd" id="nestable">
                                                                <ol class="dd-list">
                                                                    <li class="dd-item" ng-repeat="it in ptosdecontrol">
                                                                        <div class="dd-handle">
                                                                            <i class="pull-left bigger-130 ace-icon fa fa-map-marker blue"></i>
                                                                            {{it.zone_name}}
                                                                            <a href="" ng-click="deletePC(it)"><i class="pull-right bigger-130 ace-icon fa fa-times blue"></i></a>
                                                                        </div>
                                                                    </li>
                                                                </ol>
                                                            </div>                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" align="right">                                                

                                            </div>
                                        </div>
                                    </div>                                                                    
                                </div>                                
                                <!--                Panel de asignacion de tiempos-->
                                <div ng-class="{'tab-pane active': activeTab2 === 6, 'tab-pane' : activeTab2 !== 6}">
                                    <div class="container-fluid">
                                        <label>Panel de asignación de tiempos a puntos de control</label>
                                    </div>
                                </div>                                

                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- Modal Edicion Vehiculos -->
<div id="editarVehiculo" class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-labelledby="editarVehiculo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Información : <font color="#B40404">#. Vehículo {{item2.name}} </font>                   
                </h3>
            </div>
            <div class="modal-body">                
                <table class="table table-bordered table-hover table-responsive table-striped">
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Conductor
                                </b>
                            </label>
                        </td>
                        <td>
                            <label>{{item2.conductor}}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Telf. Conductor
                                </b>
                            </label>
                        </td>
                        <td>
                            <label>{{item2.telefono}}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Dirección
                                </b>
                            </label>
                        </td>
                        <td>
                            <label>{{item2.direccion}}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Grupo
                                </b>
                            </label>
                        </td>
                        <td>
                            <select class="form-control" ng-model="asignacion.grupo" ng-options="grupo.group_name for grupo in grupos| orderBy:'group_name'" ng-change="seleccionaGrupo = true">                                        
                                <option value="" selected disabled>Seleccionar</option>
                                <option ng-repeat="grupo in grupos" value="{{grupo.group_id}}" ng-selected>{{grupo.group_name}}</option>
                            </select>
                        </td>
                    </tr> 
                </table> 
            </div>
            <div class="modal-footer">
                <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> 
                <button data-bb-handler="confirm" type="button" class="btn btn-primary" ng-click="actualizarvehiculo(item2.id)">Ok</button>
            </div>            
        </div>
    </div>
</div>

<!-- Modal Edicion Grupos Rutas -->
<div id="editarGrupoRuta" class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-labelledby="editarGrupoRuta" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Información : <font color="#B40404">Grupo {{item.name}} </font>                   
                </h3>
            </div>
            <div class="modal-body">                
                <table class="table table-bordered table-hover table-responsive table-striped">
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Área
                                </b>
                            </label>
                        </td>
                        <td colspan="3">
                            <label>{{item.area_name}}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Ruta
                                </b>
                            </label>
                        </td>
                        <td colspan="3">
                            <select class="form-control" ng-model="gruporutaedit.ruta" ng-options="ruta.route_name for ruta in rutas| orderBy:'route_name'">                                           
                                <option value="" selected disabled>Seleccionar</option>
                                <option ng-repeat="ruta in rutas" value="{{ruta.route_id}}" >{{ruta.route_name}}</option>
                            </select>
                        </td>                        
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Desde Actual  
                                </b>
                            </label>
                        </td>
                        <td>
                            <p class="input-group">
                                <input  class="form-control" ng-model="item.fechaini" disabled/>
                            </p>                                    
                        </td>  
                        <td>
                            <label>
                                <b>
                                    Desde  
                                </b>
                            </label>
                        </td>
                        <td>
                            <p class="input-group">                               
                                <input id="fechafin" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="gruporutaedit.fechaini" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>                                                                
                        </td> 
                    </tr>                    
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Hasta   
                                </b>
                            </label>
                        </td>
                        <td>
                            <p class="input-group">
                                <input  class="form-control" ng-model="item.fechafin" disabled/>
                            </p>
                        </td>
                        <td>
                            <label>
                                <b>
                                    Hasta   
                                </b>
                            </label>
                        </td>
                        <td>
                            <p class="input-group">                               
                                <input id="fechafin" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="gruporutaedit.fechafin" is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </td>
                    </tr>
                </table> 
            </div>
            <div class="modal-footer">
                <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> 
                <button data-bb-handler="confirm" type="button" class="btn btn-primary" ng-click="actualizargruporuta(item.id)">Ok</button>
            </div>
            <!--      ng-click="editargruporuta(gr.gr_id)-->
        </div>
    </div>
</div>
<!-- Modal Edicion Asignacion del conductor -->
<div id="editarAsignacionConductor" class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-labelledby="editarVehiculo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Información : <font color="#B40404">{{item3.name}} </font>                   
                </h3>
            </div>
            <div class="modal-body">                
                <table class="table table-bordered table-hover table-responsive table-striped">
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Conductor
                                </b>
                            </label>
                        </td>
                        <td>
                            <label>{{item3.name}}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Telf. Conductor
                                </b>
                            </label>
                        </td>
                        <td>
                            <label>{{item3.telefono}}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Dirección
                                </b>
                            </label>
                        </td>
                        <td>
                            <label>{{item3.direccion}}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>
                                <b>
                                    Vehiculo
                                </b>
                            </label>
                        </td>
                        <td>
                            <select class="form-control" ng-model="asign.vehiculo" ng-change="selectvehiculo = true">                                        
                                <option value="" selected disabled>Seleccionar</option>
                                <option ng-repeat="v in vehiculos" value="{{v.vehiculo_id}}" ng-selected>{{v.vin}}</option>
                            </select>
                        </td>
                    </tr> 
                </table> 
            </div>
            <div class="modal-footer">
                <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> 
                <button data-bb-handler="confirm" type="button" class="btn btn-primary" ng-click="actualizarinformacion(item3.id)">Ok</button>
            </div>            
        </div>
    </div>
</div>

<script>
    function desbloquear(){        
        document.getElementById("selectareadespachos").disabled = false;
        document.getElementById("selectrutasdespachos").disabled = false;
    }
    
    function bloquearSelects(){
        document.getElementById("selectareadespachos").disabled = true;
        document.getElementById("selectrutasdespachos").disabled = true; 
    };
</script>

