<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="menu icon fa fa-home"></i>
            <a ui-sref="principal">Inicio</a>
        </li>
        <li class="active"><font color="#0B0B3B">{{title}}</font></li>
    </ul><!-- /.breadcrumb -->    
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="row">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active' : activeTab === 1}"><a href="" ng-click="setActiveTab(1)">
                                <i class="blue fa fa-exclamation-triangle bigger-120"></i>
                                Registro de Novedades
                            </a>
                        </li>
                        <li ng-class="{'active' : activeTab === 2}"><a href="" ng-click="setActiveTab(2)">
                                <i class="blue fa fa-search bigger-120"></i>
                                Ver y Editar Novedades
                            </a>
                        </li>                  
                    </ul>
                    <div class="tab-content">
                        <!-- Pestaña de registro de novedades -->
                        <div ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}">
                            <div class="container-fluid">
                                * Para poder reaiizar el registro de una novedad, seleccione el area de asignacion, posteriormente la ruta y clic en el boton cargar vehiculos. Puede asignar una o varias
                                novedades a uno o varios vehículos.
                                <br><br>

                                <div class="row">
                                    <div class="col-md-6">  
                                        <label class="control-label border blue">Seleccione el área de asignación.</label>
                                        <select class="form-control" ng-model="areaselect" ng-options="area.name for area in areas track by area.name" ng-change="onChangeSelectedArea()">                                        
                                            <option value="" selected disabled>Seleccionar</option>                       
                                        </select>
                                    </div> 
                                    <div class="col-md-6">  
                                        <label class="control-label border blue">Seleccione la ruta.</label>
                                        <select class="form-control" ng-model="rutaselect" ng-options="ruta.route_name for ruta in rutas track by ruta.route_name">                                           
                                            <option value="" selected disabled>Seleccionar</option>                                                
                                        </select>                                       
                                    </div>
                                </div> 
                                <br>
                                <button class="btn btn-primary" ng-click="cargarVehiculos()">Cargar Vehiculos</button>
                                <br> <br>
                                <div class="row" ng-if="hayResultados">                      
                                    <div class="col-md-12">                                        
                                        <table class="table table-bordered table-condensed table-responsive table-striped" >
                                            <thead>
                                                <tr>
                                                    <th colspan="5">
                                                        Resultados
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        #. Vehículo  
                                                    </th>
                                                    <th>
                                                        Placa
                                                    </th>
                                                    <th>
                                                        Conductor  
                                                    </th>                                                      
                                                    <th>
                                                        Acciones 
                                                    </th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="veh in vehiculos">
                                                    <td>
                                                        {{veh.name}}
                                                    </td>
                                                    <td>
                                                        {{veh.plate_number}}
                                                    </td>
                                                    <td>
                                                        {{veh.driver_name}}
                                                    </td>                                                    
                                                    <td align="center">
                                                        <div class="btn-group">
                                                            <button class="btn btn-white btn-sm btn-info btn-bold" title="Agregar Novedad" data-toggle="modal" data-target="#editarNovedad" ng-click="cargarModal(veh)">
                                                                <i class="ace-icon fa fa-edit"></i>
                                                            </button> 
                                                            <button class="btn btn-white btn-sm btn-warning btn-bold" title="Eliminar" ng-click="onconfirmdeletegr(veh.object_id)">
                                                                <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                                                            </button>  
                                                        </div>
                                                    </td> 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div> 
                        </div>
                        <!-- Pestaña de Novedades-->
                        <div ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}">
                            <div class="container-fluid">
                                <h3>
                                    Ver Novedades
                                </h3>
                                * Para poder filtar es necesario elegir uno de los siguientes filtros a continuación. Paara poder filtrar por vehículo es necesario seleccionar el área y posteriormente 
                                la ruta.
                                <br><br>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label border blue">Fecha</label>                                        
                                        <div class="input-group">
                                            <input class="form-control date-picker" ng-model="fechafilter" id="id-fecha" type="text" data-date-format="yyyy-mm-dd" ng-change="desbloquearBtnFilter()" placeholder="yyyy-mm-dd" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110 border blue"></i>
                                            </span>
                                        </div>                                        
                                    </div>
                                    <div class="col-md-3">  
                                        <label class="control-label border blue">Seleccione el área.</label>
                                        <select id="selectarea" class="form-control" ng-model="areaselect" ng-options="area.name for area in areas track by area.name" ng-change="onChangeSelectedArea()">                                        
                                            <option value="" selected disabled>Seleccionar</option>                       
                                        </select>
                                    </div> 
                                    <div class="col-md-4">  
                                        <label class="control-label border blue">Seleccione la ruta.</label>
                                        <div class="input-group">
                                            <select id="selectruta" class="form-control" ng-model="rutaselect" ng-options="ruta.route_name for ruta in rutas track by ruta.route_name" ng-change="">                                           
                                                <option value="" selected disabled>Seleccionar</option>                                                
                                            </select>
                                            <span class="input-group-addon">
                                                <a href="" ng-click="cargarVehiculos()">
                                                    <i class="fa fa-arrow-right bigger-110 border blue"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div> 
                                    <div class="col-md-3"> 
                                        <label class="control-label border blue">Vehículo.</label>
                                        <select id="selectveh" class="form-control" ng-model="vehiculofilter" ng-options="veh.name for veh in vehiculos track by veh.name" onchange="bloquear()" ng-change="desbloquearBtnFilter()">                                           
                                            <option value="" selected disabled>Seleccionar</option>                                                
                                        </select>                                       
                                    </div>
                                </div><br> 
                                <div class="row">
                                    <div class="col-md-6">  
                                        <button class="btn btn-default" onclick="desbloquear()" ng-click="limpiarCamposFilter()"><i class="fa fa-eraser"></i> Limpiar Campos</button>
                                        <button ng-disabled="btnfilteractive" class="btn btn-primary" ng-click="filtrar()"><i class="fa fa-search"></i> Buscar</button>
                                    </div> 
                                </div>
                                <br> 
                                <!--                                ng-if="hayNovedades"-->
                                <div class="row">
                                    <div class="col-md-12">                                        
                                        <table class="table table-condesed table-responsive table-bordered table stripped">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        Vehiculo  
                                                    </td>
                                                    <td>
                                                        Novedad  
                                                    </td>
                                                    <td>
                                                        Despachador Encargado 
                                                    </td>
                                                    <td>
                                                        Fecha y Hora de Registro
                                                    </td>
                                                    <td>
                                                        Acciones
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input class="form-control"  ng-model="filtrovehiculo" />  
                                                    </td>
                                                    <td>
                                                        <select class="form-control" ng-model="filtronovedad" >
                                                            <option value="" disabled selected>Seleccione una novedad</option>
                                                        </select>  
                                                    </td>
                                                    <td>
                                                        <select class="form-control" ng-model="filtrodespachador" >
                                                            <option value="" disabled selected>Seleccione un despachador</option>
                                                        </select> 
                                                    </td>
                                                    <td>
                                                        <input class="form-control date-picker" ng-model="filtrofecha" id="id-fecha" type="text" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd"/>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-primary" ng-click="filtrarregistros()">Filtrar</button> 
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat = "nov in novedadesregistradas">
                                                    <td>
                                                        {{nov.name}} 
                                                    </td>
                                                    <td>
                                                        {{nov.descripcion}}  
                                                    </td>
                                                    <td>
                                                        {{nov.nombre}} {{nov.apellido}} 
                                                    </td>
                                                    <td>
                                                        {{nov.fecha_registro}}
                                                    </td>
                                                    <td align="center">
                                                        <div class="btn-group">
                                                            <button class="btn btn-white btn-sm btn-info btn-bold" title="Solucionar Novedad" data-toggle="modal" data-target="#editarSolucionNovedad" ng-click="cargarModalSolucion(veh)">
                                                                <i class="ace-icon fa fa-edit"></i>
                                                            </button>                                                              
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                </div>
                            </div> 
                        </div>                                                
                    </div>
                </div>
            </div> 
        </div>
    </div>


    <!-- Modal Novedades-->
    <div id="editarNovedad" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registrar Novedad a <font color="#B40404">{{vehiculo.name}}</font></h4>
                </div>
                <div class="modal-body"> 
                    <div class="row">
                        <div class="col-md-6">
                            Seleccione la Novedad
                            <div class="input-group">
                                <select class="form-control" ng-model="selectnovedad" ng-options="nov.descripcion for nov in novedades track by nov.descripcion">
                                    <option value="" selected disabled>Seleccione una opción</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="adicionarNovedad()">
                                        <i class="ace-icon fa fa-arrow-right bigger-110"></i>                                                       
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">                            
                            Novedades Seleccionadas
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                    <li class="dd-item" ng-repeat="n in novedadesselect">
                                        <div class="dd-handle">
                                            <i class="pull-left bigger-130 ace-icon fa fa-automobile blue"></i>
                                            Novedad: {{n.descripcion}}
                                            <a href="" ng-click="deleteNovedad(n)"><i class="pull-right bigger-130 ace-icon fa fa-times blue"></i></a>
                                        </div>
                                    </li>
                                </ol>
                            </div>   
                        </div>
                    </div>                
                </div>
                <div class="modal-footer">
                    <button id="btnregistrar" type="button" class="btn btn-primary" ng-click="registrarNovedad()"><i class="pull-left bigger-130 ace-icon fa fa-arrow-right"></i>Registrar Novedad</button>                
                    <button  id="btncerrar" type="button" class="btn btn-default" data-dismiss="modal"><i class="pull-left bigger-130 ace-icon fa fa-times"></i>Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div> 

<script>
    //datepicker plugin
    //link
    $('.date-picker').datepicker({
        languaje: "es",
        autoclose: true,
        todayHighlight: true
    })
            //show datepicker when clicking on the icon
            .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });

    function bloquear() {
        document.getElementById("selectruta").disabled = true;
        document.getElementById("selectarea").disabled = true;
        document.getElementById("selectveh").disabled = true;
    }

    function desbloquear() {
        document.getElementById("selectruta").disabled = false;
        document.getElementById("selectarea").disabled = false;
        document.getElementById("selectveh").disabled = false;
    }

</script>
