<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="menu icon fa fa-home"></i>
            <a ui-sref="principal">Inicio</a>
        </li>
        <li class="active"><font color="#0B0B3B">{{title}}</font></li>
    </ul><!-- /.breadcrumb -->    
</div>
<div class="page-header">
    <h1>
        Perfil de Usuario
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">      
        <!-- PAGE CONTENT ENDS -->
        <table class="table table-bordered table-condensed table-responsive col-md-8">
            <tr>                
                <td colspan="2">
                    Empresa
                </td>
                <td colspan="2">
                    <label>{{user.name}}</label>
                </td>                
            </tr> 
            <tr>
                <td>
                    Usuario Logueo
                </td>
                <td>
                    {{user.username}}
                </td>
                <td>
                    Email
                </td>
                <td>
                    {{user.email}}
                </td>                
            </tr> 
            <tr>
                <td>
                    Perfil
                </td>
                <td>
                    {{user.profile}}
                </td>
                <td>
                    Expiración de la cuenta
                </td>
                <td>
                    {{user.account_expire_dt}}
                </td>                
            </tr>
            <tr>
                <td colspan="4" align="center"> 
                    <button class="btn btn-primary" title="Cambiar Password" data-toggle="modal" data-target="#editarPass" ng-click="cargarModalPass(user)">
                        <i class="ace-icon fa fa-edit"></i> Cambiar Password
                    </button>
                    <button class="btn btn-primary" title="Editar Perfíl" data-toggle="modal" data-target="#editarInfo" ng-click="cargarModal(user)">
                        <i class="ace-icon fa fa-edit"></i> Editar Información
                    </button> 
                    <button class="btn btn-default" title="Cancelar" ng-click="cancelar()"> 
                        <i class="ace-icon fa fa-trash-o"></i> Cancelar
                    </button> 
                </td>
            </tr>
        </table>
    </div><!-- /.col -->
</div><!-- /.row -->

<!-- Modal Editar Perfil Info-->
<div id="editarInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar información del perfíl</h4>
            </div>
            <div class="modal-body">                 
                <table class="table table-bordered table-condensed table-responsive">
                    <tr>
                        <td>
                            Usuario
                        </td>
                        <td>
                            <input class="form-control" ng-model="editinfo.usuario" />                                                
                        </td>
                        <td>
                            Email
                        </td>
                        <td>
                            <input class="form-control" ng-model="editinfo.email" />                                                
                        </td>
                    </tr>                                        
                </table>

            </div>
            <div class="modal-footer">
                <button id="btnregistrar" type="button" class="btn btn-primary" ng-click="actualizarDatos()"><i class="pull-left bigger-130 ace-icon fa fa-arrow-right"></i>Actualizar Información</button>                
                <button  id="btncerrar" type="button" class="btn btn-default" data-dismiss="modal" ng-click="limpiarCampos()"><i class="pull-left bigger-130 ace-icon fa fa-times"></i>Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Cambiar Password-->
<div id="editarPass" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cambiar Contraseña de Inicio de Sesión</h4>
            </div>
            <div class="modal-body">                 
                <table class="table table-bordered table-condensed table-responsive">
                    <tr>
                        <td>
                            Nueva Contraseña
                        </td>
                        <td>
                            <input class="form-control" type="password" ng-model="info.password" />                                                
                        </td>                        
                    </tr>                                        
                </table>

            </div>
            <div class="modal-footer">
                <button id="btnregistrar" type="button" class="btn btn-primary" ng-click="updatepassword()"><i class="pull-left bigger-130 ace-icon fa fa-arrow-right"></i>Guardar</button>                
                <button  id="btncerrar2" type="button" class="btn btn-default" data-dismiss="modal"><i class="pull-left bigger-130 ace-icon fa fa-times"></i>Cerrar</button>
            </div>
        </div>
    </div>
</div>
